{% extends 'base.html' %}

{% block content %}
  <h1>Movies</h1>

  <div>
    {% for movie in movies %}
    <div>
      <h2>{{ movie.title }}</h2>
      <p>{{ movie.overview }}</p>
      <a href="{% url 'movies:detail' movie.pk %}">detail</a>
      <hr>
    </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">
        {% if movies.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ movies.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
        </span>

        {% if movies.has_next %}
            <a href="?page={{ movies.next_page_number }}">next</a>
            <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
