<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap cdn -->
    {% block CSS %}
    {% endblock %}
    <title>Document</title>
</head>
<body>
    {% comment %} 모든 파일에서 공통 적용 될 내용 말고 {% endcomment %}
    {% block content %}
        <h1>이 구역에 작성한 내용은 template 마다 고유 값으로 덮어씌워질 것이다.</h1>
    {% endblock %}

    {% block scrip %}
    {% endblock %}

</body>
</html>