<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Throw</h1>
    <!-- Thro 라는 이름의 input 태그는
    message 라는 키와 함께
    catch/ 경로로
    message라는 키와 직접 입력한 value를 전송한다
    -->
    {% comment %} 
        catch / => root/throw/catch/
        /catch/ => root/catch {% endcomment %}
    <!-- 'app_name : path_name'-->    
    <a href="{% url 'articles:index' %}">articles index</a>
    <a href="{% url 'pages:index' %}">pages index</a>
    <a href="{% url 'articles:hello'%}">hello</a>
    <form action="{% url 'articles:catch' %}">
        <label for="throw">던진다.</label>
        <input type="text" id="throw" name="message">
    {% comment %} for 는 name과 연결되는게 아니라 id와 연결된다!!!! {% endcomment %}
        <input type="submit">
    </form>
    <hr>
    <h1>naver search</h1>
    <form action="/search.naver.com/search.naver">
        <label for="search">검색</label>
        <input type="text" id="search" name="query">
        <input type="submit">
    </form>
</body>
</html>